<div th:fragment="requestresult" class="col-md-6">
    <div class="card" th:if="${requestresult!=null && !requestresult.hasError()}"
         th:object="${requestresult}">
        <div class="card-header">
            <h2 class="card-title">Requestresult</h2>
        </div>
        <div class="card-body">
            <!--Success-->
            <p class="text-success"
               th:if="*{type()==T(dpkass.readingmanagment.Domain.Aggregates.RequestResult.RequestResultType).SUCCESS}"
               th:text="*{string()}">
            </p>
            <!--List-->
            <div class="table-responsive"
                 th:if="*{type()==T(dpkass.readingmanagment.Domain.Aggregates.RequestResult.RequestResultType).LIST}">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" th:each="str : *{headerlist()}" th:text="${str}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="e : *{list()}">
                        <td th:each="func : *{datafunctions()}" th:text="${func.apply(e)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Grouped List-->
            <div th:if="*{type()==T(dpkass.readingmanagment.Domain.Aggregates.RequestResult.RequestResultType).GROUPEDLIST}"
                 th:each="entry : *{groupedmap()}">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:text="${entry.key}"></h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" th:each="str : *{headerlist()}" th:text="${str}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="e : ${entry.value}">
                                    <td th:each="func : *{datafunctions()}" th:text="${func.apply(e)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!--Open-->
            <a th:if="*{type()==T(dpkass.readingmanagment.Domain.Aggregates.RequestResult.RequestResultType).OPEN}"
               th:href="*{string}" rel="noopener noreferrer">Open</a>
            <!--Help-->
            <p class="text-info" style="white-space: pre-wrap"
               th:if="*{type()==T(dpkass.readingmanagment.Domain.Aggregates.RequestResult.RequestResultType).HELP}"
               th:text="${requestresult.string()}"></p>
        </div>
    </div>
</div>