<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TheReadingManager</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script th:src="@{/cssandjs/ScriptFile.js}"></script>

<div th:replace="fragments/topnav :: navbar"></div>
<div class="container">
    <h1>Form</h1>
    <!--Form-->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Request</h2>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${request}">
                        <div class="form-row">
                            <!--Operator-->
                            <div class="form-group col-md-6">
                                <label for="operator">Operator</label>
                                <select class="form-control" id="operator"
                                        onchange="operatorupdate();" th:field="*{operator}">
                                    <option disabled selected value="">Select operator</option>
                                    <option th:each="op : ${operators}"
                                            th:text="${op.displayvalue()}"
                                            th:value="${op}"></option>
                                </select>
                                <div class="invalid-feedback" th:errors="*{operator}"></div>
                            </div>
                            <!--Book text, only if New is selected-->
                            <div class="form-group col-md-6 new">
                                <label for="booktxt">Book</label>
                                <input class="form-control" id="booktxt" th:field="*{booknew}">
                                <!--<div th:errors="${#fields.errors('booknew')}"></div>-->
                            </div>
                            <!--Book select, only if Add, Change, Read, ReadTo, Open, Wait, Pause is selected-->
                            <div class="form-group col-md-6 add change read open wait pause">
                                <label for="booksel">Book</label>
                                <select class="form-control" id="booksel" th:field="*{booksel}">
                                    <option disabled selected value="">Select book</option>
                                    <option th:each="book : ${books}" th:text="${book}" th:value="${book}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('booksel')}">
                                    <p th:errors="${#fields.errors('booksel')}"></p>
                                </div>
                            </div>
                        </div>
                        <!--Additional args: Add, Change, Read/ReadTo, New, Wait-->
                        <div class="form-row">
                            <!--Additional args: Add (ab)-->
                            <div class="form-group col-md-12 add">
                                <label for="additionaladd">Abbreviation to add</label>
                                <input class="form-control" type="text" th:field="*{addvalue}" id="additionaladd">
                            </div>
                            <!--Additional args: Change (type -> newval)-->
                            <div class="form-group col-md-6 change">
                                <label for="additionalchangeattribute">Type</label>
                                <select class="form-control" onchange="changeupdate();" th:field="*{changeattribute}"
                                        id="additionalchangeattribute">
                                    <option disabled selected value="">Select Type</option>
                                    <option th:each="co : ${changing_options}" th:text="${co.displayvalue()}"
                                            th:value="${co}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 change" id="additionalchangetextvaluediv">
                                <label for="additionalchangetextvalue">New Value</label>
                                <input class="form-control" type="text" th:field="*{changevalue}"
                                       id="additionalchangetextvalue">
                            </div>
                            <div class="form-group col-md-6 change" id="additionalchangewsvaluediv">
                                <label for="additionalchangewsvalue">New Value</label>
                                <select class="form-control" th:field="*{changevalue}"
                                        id="additionalchangewsvalue">
                                    <option disabled selected value="">Select Writing Status</option>
                                    <option th:each="ws : ${writing_statuses}" th:text="${ws.displayvalue()}"
                                            th:value="${ws}"></option>
                                </select>
                            </div>
                            <!--Additional args: Read (page)-->
                            <div class="form-group col-md-6 read">
                                <label for="additionalread">Page/Chapter</label>
                                <input class="form-control" type="number" th:field="*{readvalue}" id="additionalread">
                            </div>
                            <!--Additional args: New (Page, Link, WS, lastread)-->
                            <div class="form-group col-md-6 new">
                                <label for="additionalnewpage">Page/Chapter</label>
                                <input class="form-control" type="number" th:field="*{newpagevalue}"
                                       id="additionalnewpage">
                            </div>
                            <div class="form-group col-md-6 new">
                                <label for="additionalnewlink">Link</label>
                                <input class="form-control" type="url" th:field="*{newlinkvalue}"
                                       id="additionalnewlink">
                            </div>
                            <div class="form-group col-md-6 new">
                                <label for="additionalnewws">Writing Status</label>
                                <select class="form-control" th:field="*{newwsvalue}" id="additionalnewws">
                                    <option selected disabled value="">Select Writing Status</option>
                                    <option th:each="ws : ${writing_statuses}" th:text="${ws.displayvalue()}"
                                            th:value="${ws}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 new">
                                <label for="additionalnewlr">Last Read</label>
                                <input class="form-control" type="datetime-local" th:field="*{newlrvalue}"
                                       id="additionalnewlr">
                            </div>
                            <!--Additional args: Wait (Waituntil)-->
                            <div class="form-group col-md-6 wait">
                                <label for="additionalwaitwu">Wait Until</label>
                                <input class="form-control" type="date" th:field="*{waituntil}"
                                       id="additionalwaitwu">
                            </div>
                        </div>
                        <!--Display args, only if display op list is selected-->
                        <div class="form-row">
                            <div class="list" id="displayargsdiv">
                                <label class="col-form-label" for="displayargsdiv">Display</label>
                                <div class="form-group col-mb">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               id="displayall">
                                        <label for="displayall" class="form-check-label">All</label>
                                    </div>
                                </div>
                                <div class="form-group col-mb-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input display" type="checkbox"
                                               th:field="*{displayread}"
                                               id="displayread">
                                        <label for="displayread" class="form-check-label">Page/Chapter</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input display" type="checkbox"
                                               th:field="*{displaylink}"
                                               id="displaylink">
                                        <label for="displaylink" class="form-check-label">Link</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input display" type="checkbox"
                                               th:field="*{displayrating}"
                                               id="displayrating">
                                        <label for="displayrating" class="form-check-label">Rating</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input display" type="checkbox"
                                               th:field="*{displaylastread}"
                                               id="displaylastread">
                                        <label for="displaylastread" class="form-check-label">Last Read</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input display" type="checkbox"
                                               th:field="*{displaywaituntil}"
                                               id="displaywaituntil">
                                        <label for="displaywaituntil" class="form-check-label">Wait
                                            Until</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input display" type="checkbox"
                                               th:field="*{displayreadingstatus}" id="displayreadingstatus">
                                        <label for="displayreadingstatus" class="form-check-label">Reading
                                            Status</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input display" type="checkbox"
                                               th:field="*{displaywritingstatus}" id="displaywritingstatus">
                                        <label for="displaywritingstatus" class="form-check-label">Writing
                                            Status</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Order args, only if List is selected-->
                        <div class="form-row list">
                            <div class="form-group col-md-6">
                                <label for="sort">Sort-by</label>
                                <select class="form-control" th:field="*{sortby}" id="sort">
                                    <option selected value="">None</option>
                                    <option th:each="s : ${sorting_options}" th:text="${s.displayvalue()}"
                                            th:value="${s}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="group">Group-by</label>
                                <select class="form-control" th:field="*{groupby}" id="group">
                                    <option selected value="">None</option>
                                    <option th:each="g : ${grouping_options}" th:text="${g.displayvalue()}"
                                            th:value="${g}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" th:field="*{sortdescending}"
                                           id="sortdirection">
                                    <label for="sortdirection">Sort descending</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" th:field="*{groupdescending}"
                                           id="groupdirection">
                                    <label for="groupdirection">Group descending</label>
                                </div>
                            </div>
                        </div>
                        <!--Filter args, only if List is selected-->
                        <div class="form-row">
                            <div class="form-group col-first list">
                                <button type="button" class="btn btn-outline-info" id="filtersbtn">
                                    Filters
                                </button>
                            </div>
                            <div class="form-group col-last">
                                <button type="button" class="btn btn-danger" id="resetfiltersbtn">
                                    Reset Filters
                                </button>
                            </div>
                        </div>
                        <div id="filtersdiv">
                            <!--Book-->
                            <div class="form-group row">
                                <label class="col-form-label col-md-5">Book</label>
                                <div class="col-md-7">
                                    <select class="form-control filter" id="filterbook" th:field="*{filterbook}">
                                        <option disabled selected value="">Select book</option>
                                        <option th:each="book : ${books}" th:text="${book}" th:value="${book}"></option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('filterbook')}">
                                        <p th:errors="${#fields.errors('booksel')}"></p>
                                    </div>
                                </div>
                            </div>
                            <!--Page/Chapter-->
                            <div class="form-group row">
                                <label class="col-form-label col-md-5">Chapter</label>
                                <div class="col-md-2">
                                    <select class="form-control filter" th:field="*{filterchapterop}">
                                        <option selected value=""></option>
                                        <option value="<"><</option>
                                        <option value=">">></option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control filter" type="number" placeholder="value"
                                           th:field="*{filterchapter}">
                                </div>
                            </div>
                            <!--Rating-->
                            <div class="form-group row">
                                <label class="col-form-label col-md-5">Rating</label>
                                <div class="col-md-2">
                                    <select class="form-control filter" th:field="*{filterratingop}">
                                        <option selected value=""></option>
                                        <option value="=">=</option>
                                        <option value="<"><</option>
                                        <option value=">">></option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control filter" type="number" placeholder="value"
                                           th:field="*{filterrating}">
                                </div>
                            </div>
                            <!--Last Read-->
                            <div class="form-group row">
                                <label class="col-form-label col-md-4">Last Read</label>
                                <div class="col-md-3">
                                    <select class="form-control filter" th:field="*{filterlrop}">
                                        <option selected value=""></option>
                                        <option value="<">before</option>
                                        <option value=">">after</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control filter" type="date" placeholder="value"
                                           th:field="*{filterlr}">
                                </div>
                            </div>
                            <!--Wait Until-->
                            <div class="form-group row">
                                <label class="col-form-label col-md-4">Wait Until</label>
                                <div class="col-md-3">
                                    <select class="form-control filter" th:field="*{filterwuop}">
                                        <option selected value=""></option>
                                        <option value="<">before</option>
                                        <option value=">">after</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control filter" type="date" placeholder="value"
                                           th:field="*{filterwu}">
                                </div>
                            </div>
                            <!--Reading Status-->
                            <div class="form-group row">
                                <label class="col-form-label col-md-4">Reading Status</label>
                                <div class="col-md-8">
                                    <select class="form-control filter" multiple th:field="*{filterrs}">
                                        <option th:each="ws : ${reading_statuses}" th:text="${ws.displayvalue()}"
                                                th:value="${ws}"></option>
                                    </select>
                                </div>
                            </div>
                            <!--Writing Status-->
                            <div class="form-group row">
                                <label class="col-form-label col-md-4">Writing Status</label>
                                <div class="col-md-8">
                                    <select class="form-control filter" multiple th:field="*{filterws}">
                                        <option th:each="ws : ${writing_statuses}" th:text="${ws.displayvalue()}"
                                                th:value="${ws}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Request</button>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="fragments/requestresult :: requestresult"></div>
    </div>
</div>
</body>
<script>
    operatorupdate()
</script>
</html>