<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TheReadingManager</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .invalid-feedback {
        "display: block"
        }
    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script th:src="@{/cssandjs/ScriptFile.js}"></script>
<div class="container">
    <h1>Form</h1>
    <!--Form-->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Request</h2>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${request}">
                        <div class="form-row">
                            <!--Operator-->
                            <div class="form-group col-md-6">
                                <label for="idoperator">Operator</label>
                                <select class="form-control" name="operator" id="idoperator"
                                        onchange="formupdate();" th:field="*{operator}">
                                    <option disabled selected value="">Select operator</option>
                                    <option th:each="op : ${operators}"
                                            th:text="${op.displayvalue()}"
                                            th:value="${op}"></option>
                                </select>
                                <div class="invalid-feedback">
                                    <p th:if="${#fields.hasErrors('operator')}"
                                       th:errors="${#fields.errors('operator')}">
                                    </p>
                                </div>
                            </div>
                            <!--Book text, only if New is selected-->
                            <div class="form-group col-md-6" id="idbooktxtdiv">
                                <label for="idbooktxt">Book</label>
                                <input class="form-control" id="idbooktxt" th:field="*{booknew}">
                                <div th:if="${#fields.hasErrors('booknew')}">
                                    <p th:errors="${#fields.errors('booknew')}"></p>
                                </div>
                            </div>
                            <!--Book select, only if Add, Change, Read, ReadTo, Open, Show is selected-->
                            <div class="form-group col-md-6" id="idbookseldiv">
                                <label for="idbooksel">Book</label>
                                <select class="form-control" id="idbooksel" th:field="*{booksel}">
                                    <option disabled selected value="">Select book</option>
                                    <option th:each="book : ${books}" th:text="${book}" th:value="${book}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('booksel')}">
                                    <p th:errors="${#fields.errors('booksel')}"></p>
                                </div>
                            </div>
                        </div>
                        <!--Additional args: Add (ab), Change (oldval/type -> newval), Read (page), ReadTo(page-count), New (Page, Link, WS, lastread)-->
                        <div class="form-row">
                            <!--Additional args: Add (ab)-->
                            <div class="form-group col-md-12" id="idadditionaladddiv">
                                <label for="idadditionaladd">Abbreviation to add</label>
                                <input class="form-control" type="text" th:field="*{addvalue}" id="idadditionaladd">
                            </div>
                            <!--Additional args: Change (type -> newval)-->
                            <div class="form-group col-md-6" id="idadditionalchangetypediv">
                                <label for="idadditionalchangeattribute">Type</label>
                                <select class="form-control" th:field="*{changeattribute}"
                                        id="idadditionalchangeattribute">
                                    <option disabled selected value="">Select Type</option>
                                    <option th:each="co : ${changing_options}" th:text="${co.displayvalue()}"
                                            th:value="${co}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" id="idadditionalchangenewdiv">
                                <label for="idadditionalchangevalue">New Value</label>
                                <input class="form-control" type="text" th:field="*{changevalue}"
                                       id="idadditionalchangevalue">
                            </div>
                            <!--Additional args: Read (page)-->
                            <div class="form-group col-md-12" id="idadditionalreaddiv">
                                <label for="idadditionalread">Page/Chapter</label>
                                <input class="form-control" type="number" th:field="*{readvalue}" id="idadditionalread">
                            </div>
                            <!--Additional args: New (Page, Link, WS, lastread)-->
                            <div class="form-group col-md-6" id="idadditionalnewpagediv">
                                <label for="idadditionalnewpage">Page/Chapter</label>
                                <input class="form-control" type="number" th:field="*{newpagevalue}"
                                       id="idadditionalnewpage">
                            </div>
                            <div class="form-group col-md-6" id="idadditionalnewlinkdiv">
                                <label for="idadditionalnewlink">Link</label>
                                <input class="form-control" type="url" th:field="*{newlinkvalue}"
                                       id="idadditionalnewlink">
                            </div>
                            <div class="form-group col-md-6" id="idadditionalnewwsdiv">
                                <label for="idadditionalnewws">Writing Status</label>
                                <select class="form-control" th:field="*{newwsvalue}" id="idadditionalnewws">
                                    <option selected disabled value="">Select Writing Status</option>
                                    <option th:each="ws : ${writing_statuses}" th:text="${ws.displayvalue()}"
                                            th:value="${ws}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" id="idadditionalnewlrdiv">
                                <label for="idadditionalnewlr">Last Read</label>
                                <input class="form-control" type="datetime-local" th:field="*{newlrvalue}"
                                       id="idadditionalnewlr">
                            </div>
                        </div>
                        <!--Display args, only if display op (list, show) is selected-->
                        <div class="form-row">
                            <div class="form-group col-mb-12" id="iddisplayargsdiv">
                                <label for="iddisplayargsinnerdiv">Display</label>
                                <div id="iddisplayargsinnerdiv">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{displayread}"
                                               id="iddisplayread">
                                        <label for="iddisplayread" class="form-check-label">Page/Chapter</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{displaylink}"
                                               id="iddisplaylink">
                                        <label for="iddisplaylink" class="form-check-label">Link</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{displayrating}"
                                               id="iddisplayrating">
                                        <label for="iddisplayrating" class="form-check-label">Rating</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{displaylastread}"
                                               id="iddisplaylastread">
                                        <label for="iddisplaylastread" class="form-check-label">Last Read</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{displaypauseduntil}"
                                               id="iddisplaypauseduntil">
                                        <label for="iddisplaypauseduntil" class="form-check-label">Paused
                                            Until</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               th:field="*{displayreadingstatus}" id="iddisplayreadingstatus">
                                        <label for="iddisplayreadingstatus" class="form-check-label">Reading
                                            Status</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox"
                                               th:field="*{displaywritingstatus}" id="iddisplaywritingstatus">
                                        <label for="iddisplaywritingstatus" class="form-check-label">Writing
                                            Status</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Order args, only if List is selected-->
                        <div class="form-row">
                            <div class="form-group col-md-6" id="idordersortdiv">
                                <label for="idsort">Sort-by</label>
                                <select class="form-control" th:field="*{sortby}" id="idsort">
                                    <option selected value="">None</option>
                                    <option th:each="s : ${sorting_options}" th:text="${s.displayvalue()}"
                                            th:value="${s}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" id="idordergroupdiv">
                                <label for="idgroup">Group-by</label>
                                <select class="form-control" th:field="*{groupby}" id="idgroup">
                                    <option selected value="">None</option>
                                    <option th:each="g : ${grouping_options}" th:text="${g.displayvalue()}"
                                            th:value="${g}"></option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Request</button>
                    </form>
                </div>
            </div>
        </div>

        <!--Requestresult-->
        <div class="col">
            <div class="card" th:if="${requestresult!=null && !requestresult.hasError()}"
                 th:object="${requestresult}">
                <div class="card-header">
                    <h2 class="card-title">Requestresult</h2>
                </div>
                <div class="card-body">
                    <!--Success-->
                    <p class="text-success"
                       th:if="*{type().ordinal()==0}" th:text="*{string()}">
                    </p>
                    <!--Show-->
                    <ul class="list-group" th:if="*{type().ordinal()==1}">
                        <li class="list-group-item" th:each="func : *{datafunctions()}"
                            th:text="${func.apply(requestresult.list().get(0))}"></li>
                    </ul>
                    <!--List-->
                    <div class="table-responsive" th:if="${requestresult.type().ordinal()==2}">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" th:each="str : *{headerlist()}" th:text="${str}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="e : *{list()}">
                                <td th:each="func : *{datafunctions()}" th:text="${func.apply(e)}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Grouped List-->
                    <div th:if="${requestresult.type().ordinal()==3}" th:each="entry : *{groupedmap()}">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" th:text="${entry.key}"></h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col" th:each="str : *{headerlist()}" th:text="${str}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="e : ${entry.value}">
                                            <td th:each="func : *{datafunctions()}" th:text="${func.apply(e)}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!--Help-->
                    <p class="text-info" style="white-space: pre-wrap"
                       th:if="${requestresult.type().ordinal()==4}"
                       th:text="${requestresult.string()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    getelements()
    formupdate()
</script>
</html>